@import "src/styles/mixins";

.wrapper {
  height: calc(100vh - 60px);
  width: 1280px;
  @include flex-space-around;
  align-items: center;

  .card {
    padding: 30px 24px 30px 24px;
    width: 378px;
    height: 492px;
    border-radius: 2px;
    background: var(--color-light-100);
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);

    .headerText {
      display: flex;
      justify-content: center;
      margin-bottom: 31px;
      font-weight: 700;
      font-size: 20px;
    }

    .success {
      height: 55px;
      font-size: var(--font-size-s);
      color: var(--neutral-dark-30);
    }

    .footer {
      width: 100%;
      @include flex-column;
      align-items: center;
      margin-top: 18px;

      .footer_text {
        color: var(--neutral-dark-30);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 12px;
      }

      .btn_sign_in {
        margin-bottom: 18px;
        color: var(--color-accent-700);

      }
    }
  }

  .image {
    width: 632px;
    height: 470px;
  }
}
